*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:#ffffff;
}

.sidebar{
    min-height:100vh;
    background:#ffffff !important;
    color:rgb(0, 0, 0);
    padding-top:20px;
}

.sidebar h3{
    color:rgb(0, 0, 0);
    margin-bottom:30px;
}

.sidebar a{
    display:block;
    color:rgb(0, 0, 0);
    text-decoration:none;
    padding:14px 20px;
    transition:.3s;
    border-radius:8px;
    margin:5px 10px;
}

.sidebar a:hover{
    background:rgba(255, 0, 0, 0.2);
}

.sidebar i{
    margin-right:8px;
}

.card{
    border:none;
    border-radius:15px;
}

.card-header{
    border-radius:15px 15px 0 0 !important;
}

.table{
    background:white;
}

.table img{
    border-radius:50%;
    object-fit:cover;
}

.btn{
    border-radius:8px;
}

.form-control,
.form-select{
    border-radius:8px;
}

.alert{
    border-radius:12px;
}

.shadow{
    box-shadow:0 10px 25px rgba(0,0,0,.08)!important;
}

.container-fluid{
    padding:25px;
}